<form [formGroup]="postForm" (ngSubmit)="setDataPost()">
    <div>
        <label for="titulo">Título:</label>
        <input id="titulo" formControlName="titulo" type="text" />
        
        @if (postForm.get('title')?.invalid && postForm.get('title')?.touched) {
          <div>El título es requerido.</div>
        }
       
      </div>
      
  
      <div>
        <label for="texto">Texto:</label>
        <textarea id="texto" formControlName="texto"></textarea>
        @if (postForm.get('texto')?.invalid && postForm.get('texto')?.touched) {
          <div>El texto es requerido.</div>
        }
      </div>
      
  
      <div>
        <label for="imagen">Imagen (URL):</label>
        <input id="imagen" formControlName="imagen" type="text" />
      
        @if (postForm.get('imagen')?.invalid && postForm.get('imagen')?.touched) {
          <div>La URL de la imagen es requerida y debe ser válida.</div>
        }
      </div>
      
    <div>
      <label for="categoria">Categoría:</label>
      <select id="categoria" formControlName="categoria">
        @for (category of blogService.getAllCategories(); track category.id) {
          <option [ngValue]="category">
            {{ category.titulo }}
          </option>
        }
      </select>
      
      @if (postForm.get('categoria')?.invalid && postForm.get('categoria')?.touched) {
        <div>La categoría es requerida.</div>
      }
      
    </div>
  
    <div>
      <label for="autor">Autor:</label>
      <input id="autor" formControlName="autor" type="text" />
      @if (postForm.get('autor')?.invalid && postForm.get('autor')?.touched) {
        <div>El autor es requerido.</div>
      }
      
    </div>
  
    <div>
      <label for="fecha">Fecha:</label>
      <input id="fecha" formControlName="fecha" type="date" />
      
      
    </div>
  
    <button type="submit" [disabled]="postForm.invalid">Enviar</button>
  </form>