<div class="container ">
  <h2 class="text-center">Añadir post</h2>
  <div class="row">
    <div class="col-11 col-sm-12 col-md-6 col-xl-4 mx-auto p-4 border rounded shadow-sm bg-light">
      <form  [formGroup]="postForm" (ngSubmit)="setDataPost()">
        <div class="mb-3">
            <label class="form-label" for="titulo">Título:</label>
            <input class="form-control" id="titulo" formControlName="titulo" type="text" />
            
            @if (postForm.get('title')?.invalid && postForm.get('title')?.touched) {
              <div>El título es requerido.</div>
            }
           
          </div>
          
      
          <div class="mb-3">
            <label class="form-label" for="texto">Texto:</label>
            <textarea class="form-control" id="texto" formControlName="texto"></textarea>
            @if (postForm.get('texto')?.invalid && postForm.get('texto')?.touched) {
              <div>El texto es requerido.</div>
            }
          </div>
          
      
          <div class="mb-3">
            <label class="form-label" for="imagen">Imagen (URL):</label>
            <input class="form-control" id="imagen" formControlName="imagen" type="text" />
          
            @if (postForm.get('imagen')?.invalid && postForm.get('imagen')?.touched) {
              <div>La URL de la imagen es requerida y debe ser válida.</div>
            }
          </div>
          
        <div class="mb-3">
          <label class="form-label" for="categoria">Categoría:</label>
          <select class="form-control" class="form-control" id="categoria" formControlName="categoria">
            @for (category of blogService.getAllCategories(); track category.id) {
              <option [ngValue]="category">
                {{ category.titulo }}
              </option>
            }
          </select>
          
          @if (postForm.get('categoria')?.invalid && postForm.get('categoria')?.touched) {
            <div>La categoría es requerida.</div>
          }
          
        </div>
      
        <div class="mb-3">
          <label class="form-label" for="autor">Autor:</label>
          <input class="form-control" id="autor" formControlName="autor" type="text" />
          @if (postForm.get('autor')?.invalid && postForm.get('autor')?.touched) {
            <div>El autor es requerido.</div>
          }
          
        </div>
      
        <div class="mb-3">
          <label class="form-label" for="fecha">Fecha:</label>
          <input class="form-control" id="fecha" formControlName="fecha" type="date" />
          
          
        </div>
      
        <button class="btn btn-primary" type="submit" [disabled]="postForm.invalid">Añadir</button>
      </form>
    </div>
  </div>
  
</div>



